<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp0Jo1w69bP8RgXXoEcJixtqDeB-eP9Jc</string>
	<key>BUNDLE_ID</key>
	<string>com.udia.restaurant</string>
	<key>GCM_SENDER_ID</key>
	<string>643810246236</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:643810246236:ios:63271e75cab2bd8a117099</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>udia-86e19</string>
	<key>STORAGE_BUCKET</key>
	<string>udia-86e19.appspot.com</string>
</dict>
</plist>
